<h1>Word count</h1>

<p><input #query placeholder="" /></p>
<p><button (click)="startCounting(query.value)" id="countBtn">Count words</button></p>


<p>Hits at Google: {{googleHits}}</p>
<p>Hits at Bing: {{bingHits}}</p>
